VITE_API_URL=<server_url>
VITE_FCM_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FCM_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FCM_SENDER_ID=""
VITE_FCM_APP_ID=""
VITE_FCM_VAPID_KEY=""
NODE_ENV=development
